body {
  text-align: center;
  font-family: 'Lobster', cursive;
}

#container {
  margin:auto;
  border: 5px solid lightblue;
  font-size: 30px;
  padding: 100px;
  text-align: center;
  background-color: #0e2431;
  width: 50%;
  margin-bottom: 120px;


}

p {
  color: white;
}

#output {
  height: 50px;

  margin: 30px;
  text-shadow: 2px 0 #232931;
  font-size: 2rem;
  color: #A85CF9;
}
