#container {
  margin:auto;
  border: 5px solid lightblue;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  background-color: #0e2431;
  width: 50%;


}

p {
  color: white;
}

#output {
  height: 24px;
}

